
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=DotGothic16&display=swap');

:root{
    --primary-color: #1d7874;
    --secondary-color: #ee2e31;
    --accent1-color: #679289;
    --accent2-color: #f4c095;

    --heading-font: '22', Roboto;
    --paragraph-font: '18', DotGothic16;

    --nav-background-color: #071e22;
    --nav-link-color: #f4c095;
    --nav-hover-link-color: #f4c095;
    --nav-hover-background-color: #2f781d;

}

body{ 

    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
    
    }
    
/*box thing*/

.hero img {
    
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    z-index:-1
        }

    h1 { position: relative;
    bottom: 550px;
    right: -40px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: var(--heading-font);
    color: var(--accent1-color);
    padding: 20px;
    background-color: rgba(0, 50, 50, .25);
text-align: center;

}


.box img {

    position: relative;
    bottom: 372px;
    right: -600px;
    padding-left: 20px;
    padding-right: 20px;
    display: block;
    width: 20%;
    height: auto;
    z-index:4

}

.box p {
    
    position: relative;
    bottom: 520px;
    right: 20px;
    padding-left: 40px;
    padding-right: 280px;
    
    background-color: rgba(0, 30, 30, .25);
    z-index:3}


        
    h2 {
    
    font-family: var(--heading-font);
    color: var(--primary-color);
    }
    
    h3 {
    
        font-family: var(--heading-font);
        color: var(--nav-background-color);
        }


    header{
    
    padding: 20px;
    background-color: var(--accent1-color);
    
    }
    
    p{
        padding: 25px;
    }
    
    nav {
    
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
    
    }
    
    nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
    
    }
    
    nav a:link, nav a:visited {
    
    color: var(--nav-link-color);
    
    }
    
    nav a:hover{
    
    color: var(--nav-link-color);
    background-color: var(--nav-hover-background-color);
    
    }


    
    
.sociallinks img {
    height: auto; 
  width: auto; 
  max-width: 50px; 
  max-height: 50px;
            }

 .logo img {
 height: auto; 
 width: auto; 
max-width: 150px; 
 max-height: 150px;
  }
            
  
